@use './styles/' as *;

body {
	background-image: var(--clr-gradient-linear-gray);
	font-family: var(--ff-primary-jet-brains);
	font-weight: var(--fw-bold);

	main {
		height: 100%;
		width: 100%;
	}
}

section {
	padding: 4rem 1rem;

	header {
		margin-bottom: 1rem;
		text-align: center;

		h1 {
			font-size: var(--fs-body-sm);
			line-height: var(--lh-body-sm);
			color: var(--clr-neutral-gray);
		}
	}

	.outputWrapper {
		margin-bottom: 1rem;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--clr-neutral-gray-dark);

		h2 {
			font-size: var(--fs-heading-md);
			line-height: var(--lh-heading-md);
			color: var(--clr-neutral-offwhite);
		}

		svg {
			height: 20px;
			width: 17.5px;

			&:hover {
				cursor: pointer;

				path {
					fill: var(--clr-neutral-white);
				}
			}
		}
	}
}
