/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove Default Spacing */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.2;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/static/JetBrainsMono-Bold.ttf");
}
:root {
  /* Loop to declare color variables */
  --clr-primary-green: hsl(127, 100%, 82%);
  --clr-primary-orange: hsl(13, 95%, 66%);
  --clr-primary-red: hsl(0, 91%, 63%);
  --clr-primary-yellow: hsl(42, 91%, 68%);
  --clr-neutral-gray: hsl(251, 9%, 53%);
  --clr-neutral-gray-dark: hsl(248, 10%, 15%);
  --clr-neutral-gray-disabled: hsl(253, 5%, 34%);
  --clr-neutral-gray-very-dark: hsl(248, 15%, 11%);
  --clr-neutral-offwhite: hsl(252, 11%, 91%);
  --clr-neutral-white: hsl(0, 100%, 100%);
  --clr-gradient-linear-gray: linear-gradient(hsl(248, 17%, 9%), hsl(255, 22%, 4%));
  /* Loop to declare font family variables */
  --ff-primary-jet-brains: 'JetBrains Mono', monospace;
  /* Loop to declare font size variables */
  --fs-heading-lg: 2rem;
  --fs-heading-md: 1.5rem;
  --fs-body-lg: 1.5rem;
  --fs-body-md: 1.125rem;
  --fs-body-sm: 1rem;
  /* Loop to declare font weight variables */
  --fw-bold: 700;
  /* Loop to declare line height variables */
  --lh-heading-lg: 43px;
  --lh-heading-md: 32px;
  --lh-body-lg: 32px;
  --lh-body-md: 23px;
  --lh-body-sm: 21px;
  /* Loop to declare range values variables */
  --rv-track-h: 8px;
  --rv-thumb-h: 28px;
  --rv-thumb-w: 28px;
}

body {
  background-image: var(--clr-gradient-linear-gray);
  font-family: var(--ff-primary-jet-brains);
  font-weight: var(--fw-bold);
}
body main {
  height: 100%;
  width: 100%;
}

section {
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 540px;
}
section header {
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 48em) {
  section header {
    margin-bottom: 2rem;
  }
}
section header h1 {
  font-size: var(--fs-body-sm);
  line-height: var(--lh-body-sm);
  color: var(--clr-neutral-gray);
}
@media (min-width: 48em) {
  section header h1 {
    font-size: var(--fs-body-lg);
    line-height: var(--lh-body-lg);
  }
}
section form,
section .outputWrapper {
  padding: 1rem;
  background-color: var(--clr-neutral-gray-dark);
}
section .outputWrapper {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 48em) {
  section .outputWrapper {
    margin-bottom: 1.5rem;
    padding: 1.1875rem 1.75rem 1.1875rem 2rem;
  }
}
section .outputWrapper h2 {
  font-size: var(--fs-heading-md);
  line-height: var(--lh-heading-md);
  color: var(--clr-neutral-gray-disabled);
}
@media (min-width: 48em) {
  section .outputWrapper h2 {
    font-size: var(--fs-heading-lg);
    line-height: var(--lh-heading-lg);
  }
}
section .outputWrapper .copiedWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
section .outputWrapper .copiedWrapper p {
  font-size: var(--fs-body-sm);
  line-height: var(--lh-body-sm);
  color: var(--clr-primary-green);
  text-transform: uppercase;
}
@media (min-width: 48em) {
  section .outputWrapper .copiedWrapper p {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}
section .outputWrapper .copiedWrapper svg {
  height: 20px;
  width: 17.5px;
}
@media (min-width: 48em) {
  section .outputWrapper .copiedWrapper svg {
    height: 24px;
    width: 21px;
  }
}
section .outputWrapper .copiedWrapper svg path {
  fill: var(--clr-primary-green);
  transition: all 300ms ease-in-out;
}
section .outputWrapper .copiedWrapper svg:hover {
  cursor: pointer;
}
section .outputWrapper .copiedWrapper svg:hover path {
  fill: var(--clr-neutral-white);
}
section form {
  width: 100%;
}
@media (min-width: 48em) {
  section form {
    padding: 1.5rem 2rem 2rem;
  }
}
section form .sliderInfo {
  margin-bottom: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 48em) {
  section form .sliderInfo {
    margin-bottom: 1.625rem;
  }
}
section form .sliderInfo label {
  font-size: var(--fs-body-sm);
  line-height: var(--lh-body-sm);
  color: var(--clr-neutral-offwhite);
}
@media (min-width: 48em) {
  section form .sliderInfo label {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}
section form .sliderInfo p {
  font-size: var(--fs-heading-md);
  line-height: var(--lh-heading-md);
  color: var(--clr-primary-green);
}
@media (min-width: 48em) {
  section form .sliderInfo p {
    font-size: var(--fs-heading-lg);
    line-height: var(--lh-heading-lg);
  }
}
section form input[type=range] {
  margin-bottom: 2.625rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
}
section form input[type=range]::-webkit-slider-runnable-track {
  height: var(--rv-track-h);
}
section form input[type=range]::-moz-range-track {
  height: var(--rv-track-h);
}
section form input[type=range]::-webkit-slider-thumb {
  margin-top: calc(var(--rv-track-h) / 2 - var(--rv-thumb-h) / 2);
  -webkit-appearance: none;
  appearance: none;
  height: var(--rv-thumb-h);
  width: var(--rv-thumb-w);
  background: var(--clr-neutral-offwhite);
  border-radius: 50%;
}
section form input[type=range]::-webkit-slider-thumb:hover {
  background: var(--clr-neutral-gray-very-dark);
  border: 2px solid var(--clr-primary-green);
}
section form input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  height: var(--rv-thumb-h);
  width: var(--rv-thumb-w);
  background: var(--clr-neutral-offwhite);
}
section form input[type=range]::-moz-range-thumb:hover {
  background: var(--clr-neutral-gray-very-dark);
  border: 2px solid var(--clr-primary-green);
}
section form input[type=range]:focus {
  outline: none;
}
section form input[type=range]:focus::-webkit-slider-thumb {
  border: 2px solid var(--clr-primary-green);
  background: var(--clr-neutral-gray-very-dark);
}
section form input[type=range]:focus::-moz-range-thumb {
  border: 2px solid var(--clr-primary-green);
  background: var(--clr-neutral-gray-very-dark);
}
section form .checkboxes {
  margin-bottom: 2rem;
}
section form .checkboxes .checkbox {
  padding-left: 2.5rem;
  display: block;
  position: relative;
  font-size: var(--fs-body-sm);
  line-height: var(--lh-body-sm);
  color: var(--clr-neutral-offwhite);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 48em) {
  section form .checkboxes .checkbox {
    padding-left: 2.8125rem;
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}
section form .checkboxes .checkbox:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 48em) {
  section form .checkboxes .checkbox:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
section form .checkboxes .checkbox input {
  height: 0;
  width: 0;
}
section form .checkboxes .checkbox input:checked ~ .checkmark {
  background-color: var(--clr-primary-green);
  outline: 2px solid var(--clr-primary-green);
  background-image: url("./assets/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
section form .checkboxes .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--clr-neutral-gray-dark);
  outline: 2px solid var(--clr-neutral-offwhite);
  outline-offset: -2px;
  cursor: pointer;
}
section form .checkboxes .checkbox .checkmark::after {
  content: "";
}
section form .checkboxes .checkbox .checkmark:hover {
  outline: 2px solid var(--clr-primary-green);
}
section form .strengthWrapper {
  margin-bottom: 1rem;
  padding: 0.875rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-neutral-gray-very-dark);
}
@media (min-width: 48em) {
  section form .strengthWrapper {
    margin-bottom: 2rem;
    padding: 1.25rem 2rem;
  }
}
section form .strengthWrapper h3 {
  font-size: var(--fs-body-sm);
  line-height: var(--lh-body-sm);
  color: var(--clr-neutral-gray);
  text-transform: uppercase;
}
@media (min-width: 48em) {
  section form .strengthWrapper h3 {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}
section form .strengthWrapper p {
  font-size: var(--fs-body-md);
  line-height: var(--lh-body-md);
  color: var(--clr-neutral-offwhite);
  text-transform: uppercase;
}
@media (min-width: 48em) {
  section form .strengthWrapper p {
    font-size: var(--fs-heading-md);
    line-height: var(--lh-heading-md);
  }
}
section form .strengthWrapper .strengthRatings {
  display: flex;
  align-items: center;
  gap: 1rem;
}
section form .strengthWrapper .strengthRatings .ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
section form .strengthWrapper .strengthRatings .ratings .rating {
  display: inline-block;
  height: 28px;
  width: 10px;
  outline: 2px solid var(--clr-neutral-offwhite);
  outline-offset: -2px;
}
section form .strengthWrapper .strengthRatings .tooWeak .rating:first-child {
  background-color: var(--clr-primary-red);
  outline: none;
}
section form .strengthWrapper .strengthRatings .weak .rating:first-child,
section form .strengthWrapper .strengthRatings .weak .rating:nth-child(2) {
  background-color: var(--clr-primary-orange);
  outline: none;
}
section form .strengthWrapper .strengthRatings .medium .rating:not(:last-child) {
  background-color: var(--clr-primary-yellow);
  outline: none;
}
section form .strengthWrapper .strengthRatings .strong .rating {
  background-color: var(--clr-primary-green);
  outline: none;
}
section form button {
  padding: 1.125rem 0;
  width: 100%;
  background-color: var(--clr-primary-green);
  border: none;
  font-size: var(--fs-body-sm);
  line-height: var(--lh-body-sm);
  color: var(--clr-neutral-gray-dark);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (min-width: 48em) {
  section form button {
    padding: 1.3125rem 0;
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
  section form button span {
    margin-left: 0.875rem;
  }
}
section form button span path {
  transition: all 300ms ease-in-out;
}
section form button:hover, section form button:focus {
  background-color: var(--clr-neutral-gray-dark);
  outline: 2px solid var(--clr-primary-green);
  outline-offset: -2px;
  color: var(--clr-primary-green);
}
section form button:hover span path, section form button:focus span path {
  fill: var(--clr-primary-green);
}/*# sourceMappingURL=styles.css.map */